/* Reset das configurações do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nosifer', serif;
    text-rendering: optimizeLegibility;
}

/* Definição do barra de navegação */
.bg-cor-que-eu-quero {
    background: rgb(255, 149, 1);
}

#navbar-items .navbar-nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;   
}

.tabuleiro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 24rem;
    height: 24rem;
    margin-top: 6rem;
}

.celula {
    width: 7rem;
    height: 7rem;
    gap: .5rem;
    box-shadow: .25rem .25rem rgb(0, 0, 0)
}